@using BirdsiteLive.Controllers;
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <br />
        bird.makeup is a @ViewData.Model.ServiceName to ActivityPub bridge.<br />
        Find a @ViewData.Model.ServiceName account below:
    </p>
    
    <form method="POST">
        <div class="form-group">
            <input type="text" class="form-control col-8 col-sm-8 col-md-6 col-lg-4 mx-auto" id="handle" name="handle" autocomplete="off" placeholder="@ViewData.Model.ServiceName Handle">
        </div>
        <button type="submit" class="btn btn-primary">Show</button>
    </form>

    <p style = "padding-top: 100px;">
        <br />
        bird.makeup is made with ❤️ by <a href="https://r.town/@@vincent">Vincent Cloutier</a> in 🇨🇦
        <br />
        <br />
        Many thanks to our top Patreon supporters: <br/>
        <a href="https://mstdn-social.com/@@fishcharlie">Charlie Fish</a>
        
    </p>
</div>
